# 1.  Read Student Info File

In [ ]:
# Read File
file=open('stud_info.csv','r')
info_dataset=[]
while True:
    data=file.readline()
    if data:
        info_dataset.append(data.replace("\n", "").split(','))
    else:
        break
print(info_dataset)

[['Roll No', 'name', 'Gender', 'DOB'], ['1', 'John', 'Male', '05-04-1988'], ['2', 'Mayur', 'Male', '04-05-1987'], ['3', 'Mangesh', 'Male', '25-05-1989'], ['4', 'Jessica', 'Female', '12-08-1990'], ['5', 'Jennifer', 'Female', '02-09-1989'], ['6', 'Ramesh', 'Male', '03-09-1989'], ['7', 'Suresh', 'Male', '04-09-1990'], ['8', 'Ganesh', 'Male', '05-10-1989'], ['9', 'Komal', 'Female', '06-09-1989'], ['10', 'Mayuri', 'Female', '07-02-1988']]

In [ ]:
RollNo=[]
Name=[]
Gender=[]
DOB=[]

In [ ]:
for row in info_dataset[1:]:
    RollNo.append(row[0])
    Name.append(row[1])
    Gender.append(row[2])
    DOB.append(row[3])

In [ ]:
print(RollNo)
print(Name)
print(Gender)
print(DOB)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
['John', 'Mayur', 'Mangesh', 'Jessica', 'Jennifer', 'Ramesh', 'Suresh', 'Ganesh', 'Komal', 'Mayuri']
['Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female']
['05-04-1988', '04-05-1987', '25-05-1989', '12-08-1990', '02-09-1989', '03-09-1989', '04-09-1990', '05-10-1989', '06-09-1989', '07-02-1988']

# 2. Read Student Marks

In [ ]:
# Read Student Marks
file=open('student_marks.csv','r')
marks_dataset=[]
while True:
    data=file.readline()
    if data:
        marks_dataset.append(data.replace("\n", "").split(','))
    else:
        break
print(marks_dataset)

[['Roll', 'Maths', 'Physics', 'Chemistry', 'Total', 'Percentage'], ['1', '55', '45', '56', '156', '52.00'], ['2', '75', '55', '55', '185', '61.67'], ['3', '25', '54', '89', '168', '56.00'], ['4', '78', '55', '86', '219', '73.00'], ['5', '58', '96', '78', '232', '77.33'], ['6', '88', '78', '58', '224', '74.67'], ['7', '56', '89', '69', '214', '71.33'], ['8', '54', '55', '88', '197', '65.67'], ['9', '46', '66', '65', '177', '59.00'], ['10', '89', '87', '54', '230', '76.67']]

In [ ]:
Maths=[]
Physics=[]
Chemistry=[]
Total=[]
Percentage=[]

In [ ]:
for row in marks_dataset[1:]:
    Maths.append(row[1])
    Physics.append(row[2])
    Chemistry.append(row[3])
    Total.append(row[4])
    Percentage.append(row[5])

In [ ]:
print(Maths)
print(Physics)
print(Chemistry)
print(Total)
print(Percentage)

['55', '75', '25', '78', '58', '88', '56', '54', '46', '89']
['45', '55', '54', '55', '96', '78', '89', '55', '66', '87']
['56', '55', '89', '86', '78', '58', '69', '88', '65', '54']
['156', '185', '168', '219', '232', '224', '214', '197', '177', '230']
['52.00', '61.67', '56.00', '73.00', '77.33', '74.67', '71.33', '65.67', '59.00', '76.67']

# 3. Read Student Placement File

In [ ]:
# Read Student Marks
file=open('stud_placement.csv','r')
placement_dataset=[]
while True:
    data=file.readline()
    if data:
        placement_dataset.append(data.replace("\n", "").split(','))
    else:
        break
print(placement_dataset)

[['Roll No', 'Company', 'JobRole', 'Package'], ['1', 'Infosys', 'Data Analyst', '10.2'], ['2', 'TCS', 'Java Developer', '9.6'], ['3', 'TCS', 'Data Scientist', '12.60'], ['4', 'Infosys', 'Data Analyst', '10.2'], ['5', 'Oracle', 'Java Developer', '9.6'], ['6', 'Oracle', 'Data Scientist', '12.60'], ['7', 'TCS', 'Tester', '6.50'], ['8', 'Infosys', 'Tester', '6.51'], ['9', 'Mindtree', 'Database Admin', '8.30'], ['10', 'Mindtree', 'Database Admin', '8.31']]

In [ ]:
Company=[]
JobRole=[]
Package=[]

In [ ]:
for row in placement_dataset[1:]:
    Company.append(row[1])
    JobRole.append(row[2])
    Package.append(row[3])

In [ ]:
print(Company)
print(JobRole)
print(Package)

['Infosys', 'TCS', 'TCS', 'Infosys', 'Oracle', 'Oracle', 'TCS', 'Infosys', 'Mindtree', 'Mindtree']
['Data Analyst', 'Java Developer', 'Data Scientist', 'Data Analyst', 'Java Developer', 'Data Scientist', 'Tester', 'Tester', 'Database Admin', 'Database Admin']
['10.2', '9.6', '12.60', '10.2', '9.6', '12.60', '6.50', '6.51', '8.30', '8.31']

In [ ]:
studentdata=[]
studentdata.append(RollNo)
studentdata.append(Name)
studentdata.append(Gender)
studentdata.append(DOB)
studentdata.append(Maths)
studentdata.append(Physics)
studentdata.append(Chemistry)
studentdata.append(Total)
studentdata.append(Percentage)
studentdata.append(Company)
studentdata.append(JobRole)
studentdata.append(Package)

In [ ]:
studentdata

[['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
 ['John',
  'Mayur',
  'Mangesh',
  'Jessica',
  'Jennifer',
  'Ramesh',
  'Suresh',
  'Ganesh',
  'Komal',
  'Mayuri'],
 ['Male',
  'Male',
  'Male',
  'Female',
  'Female',
  'Male',
  'Male',
  'Male',
  'Female',
  'Female'],
 ['05-04-1988',
  '04-05-1987',
  '25-05-1989',
  '12-08-1990',
  '02-09-1989',
  '03-09-1989',
  '04-09-1990',
  '05-10-1989',
  '06-09-1989',
  '07-02-1988'],
 ['55', '75', '25', '78', '58', '88', '56', '54', '46', '89'],
 ['45', '55', '54', '55', '96', '78', '89', '55', '66', '87'],
 ['56', '55', '89', '86', '78', '58', '69', '88', '65', '54'],
 ['156', '185', '168', '219', '232', '224', '214', '197', '177', '230'],
 ['52.00',
  '61.67',
  '56.00',
  '73.00',
  '77.33',
  '74.67',
  '71.33',
  '65.67',
  '59.00',
  '76.67'],
 ['Infosys',
  'TCS',
  'TCS',
  'Infosys',
  'Oracle',
  'Oracle',
  'TCS',
  'Infosys',
  'Mindtree',
  'Mindtree'],
 ['Data Analyst',
  'Java Developer',
  'Data Scientist',
  'Data Analyst',
  'Java Developer',
  'Data Scientist',
  'Tester',
  'Tester',
  'Database Admin',
  'Database Admin'],
 ['10.2',
  '9.6',
  '12.60',
  '10.2',
  '9.6',
  '12.60',
  '6.50',
  '6.51',
  '8.30',
  '8.31']]

# 4. Writing Data to New File

In [ ]:
fw=open("StudentDetails.csv","w")

In [ ]:
data_to_write=[]
for i in range(len(studentdata[0])):# 10 rows
    row=list()
    for j in range(len(studentdata)):#12 col
        data=studentdata[j][i]
        row.append(data)
    row.append('\n')
    data_to_write.append(",".join(row))

In [ ]:
data_to_write

['1,John,Male,05-04-1988,55,45,56,156,52.00,Infosys,Data Analyst,10.2,\n',
 '2,Mayur,Male,04-05-1987,75,55,55,185,61.67,TCS,Java Developer,9.6,\n',
 '3,Mangesh,Male,25-05-1989,25,54,89,168,56.00,TCS,Data Scientist,12.60,\n',
 '4,Jessica,Female,12-08-1990,78,55,86,219,73.00,Infosys,Data Analyst,10.2,\n',
 '5,Jennifer,Female,02-09-1989,58,96,78,232,77.33,Oracle,Java Developer,9.6,\n',
 '6,Ramesh,Male,03-09-1989,88,78,58,224,74.67,Oracle,Data Scientist,12.60,\n',
 '7,Suresh,Male,04-09-1990,56,89,69,214,71.33,TCS,Tester,6.50,\n',
 '8,Ganesh,Male,05-10-1989,54,55,88,197,65.67,Infosys,Tester,6.51,\n',
 '9,Komal,Female,06-09-1989,46,66,65,177,59.00,Mindtree,Database Admin,8.30,\n',
 '10,Mayuri,Female,07-02-1988,89,87,54,230,76.67,Mindtree,Database Admin,8.31,\n']

In [ ]:
fw.writelines(data_to_write)

In [ ]:
fw.close()

# 5. Statistical Operation

In [ ]:
# 1. Sum of Marks
# 2. Average Marks
print("Math Marks=",Maths)
print("Phyics Marks=",Physics)
print("Chemistry Marks=",Chemistry)
math=[int(i) for i in Maths]
physics=[int(i) for i in Physics]
chemistry=[int(i) for i in Chemistry]
sum_of_marks=[]
average=[]
for i in range(len(math)):
    sum_of_marks.append(math[i]+physics[i]+chemistry[i])
    avg.append(round(sum_of_marks[i],2))
print("Sum of Marks=",sum_of_marks)
print("Average Marks=",avg)

Math Marks= ['55', '75', '25', '78', '58', '88', '56', '54', '46', '89']
Phyics Marks= ['45', '55', '54', '55', '96', '78', '89', '55', '66', '87']
Chemistry Marks= ['56', '55', '89', '86', '78', '58', '69', '88', '65', '54']
Sum of Marks= [156, 185, 168, 219, 232, 224, 214, 197, 177, 230]
Average Marks= [52.0, 61.67, 56.0, 73.0, 77.33, 74.67, 71.33, 65.67, 59.0, 76.67, 156, 185, 168, 219, 232, 224, 214, 197, 177, 230]

In [ ]:
# 3. Max Marks
print("Maximum Marks=",max(avg))

Maximum Marks= 77.33

In [ ]:
# 4. Min Marks
# Max Marks
print("Maximum Marks=",min(avg))

Maximum Marks= 52.0

In [ ]:
# 5. Count total no of student
print("Total No of Student=",len(studentdata[0]))

Total No of Student= 10

In [ ]:
#6. Percentage
#assume math marks=90, physic=90, chem=90
per=[]
for i in range(len(sum_of_marks)):
    per.append(round((100*sum_of_marks[i]/270),2))
print("Percentage=",per)

Percentage= [57.78, 68.52, 62.22, 81.11, 85.93, 82.96, 79.26, 72.96, 65.56, 85.19]